/* Styling for all elements in the navigation section */

.hl-game-nav-container {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hl-game-nav-item {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hl-exit-game-btn {
  width: 180px;
  height: 45px;
  border: solid 2.5px #18191a;
  border-radius: 5px;
  font-weight: 600;
  color: #18191a;
  background-color: #ffffff;
  transition: transform 0.4s ease-in-out;
}

.hl-exit-game-btn_img {
  width: 40px;
}

.hl-exit-game-btn:hover {
  color: #ffffff;
  background-color: #18191a;
}

.hl-game-score-bg {
  display: flex;
  justify-content: flex-start;
  height: 55px;
  border-radius: 50px 0 0 50px;
  color: #ffffff;
  background-color: #18191a;
}

.hl-game-score {
  margin-left: 50px;
  font-size: 1.2rem;
}

.hl-game-score-number {
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Styling for all elements in the main section */

span {
  font-weight: bold;
}

.hl-game-main {
  width: 80vw;
  margin: 0 auto;
}

.hl-game-title {
  font-size: 2.2rem;
  text-align: center;
}

.hl-game-main-container {
  margin: 80px 0 80px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hl-game-main-item {
  width: 150px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hl-game-playing-cards {
  width: 600px;
}

.hl-card-secondary {
  transform: scale(0.6);
}
