.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.clickable-option {
  height: 200px;
  width: 350px;
  background-color: aquamarine;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.clickable-option:hover {
  background-color: rgb(226, 40, 99);
}

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}