body {
  color: #18191a;
}

.fadeOutAndIn {
  animation: fadeoutin 2s linear 1 forwards;
}

.clickable {
  cursor: pointer;
}

/* Empty class that is used to replace the .fadeInAndOut class when a function is called */
.empty {
  width: auto;
}

@keyframes fadeoutin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
