body {
  color: #18191a;
}

.fadeOutAndIn {
  animation: fadeoutin 3s linear 1 forwards;
}

@keyframes fadeoutin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
